@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@300&display=swap');

:root {
    /* paleta de cores */
    --cor1: #042940;
    --cor2: #005C53;
    --cor3: #9FC131;
    --cor4: #DBF227;
    --cor5: #D6D58E;

    --font-titulo: 'Aclonica', sans-serif;
    --font-padrao: 'League Spartan', sans-serif;
    --font-padrao2: 'Murecho', sans-serif;
}

header {
    background-color: var(--cor1);
    padding: 10px 20px;
}

header h1 {
    font-family: var(--font-titulo);
    font-size: 3em;
    color: #FFF;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    text-align: center;
}

header h1:hover {
    color: var(--cor3);
}

.bemVindo {
    color: #FFF;
    font-family: var(--font-padrao2);
    font-size: 1em;
    text-decoration: none;
}

.menu a {
    font-family: var(--font-padrao);
    font-size: 1.2em;
}

.menu a:hover {
    text-decoration: underline;
    background-color: var(--cor2);
    border-radius: 20px;
}

main {
    background-image: linear-gradient(to bottom, var(--cor5), #FFF); 
    color: var(--cor2);
    font-family: var(--font-padrao);
    font-size: 1.1em;
    padding: 10px 20px;
}

footer {
    background-color: var(--cor1);
    color: #FFF;
    font-family: var(--font-padrao2);
    font-size: 0.8em;
    padding: 5px 20px;
}
