@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&family=Expletus+Sans&family=PT+Sans&family=Quicksand:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@300&display=swap');


:root {
    /* paleta de cores */
    --cor1: #042940;
    --cor2: #005C53;
    --cor3: #9FC131;
    --cor4: #DBF227;
    --cor5: #D6D58E;

    --font-titulo: 'Aclonica', sans-serif;
    --font-padrao: 'League Spartan', sans-serif;
    --font-padrao2: 'Murecho', sans-serif;
    --font-1: 'Averia Libre', cursive;
    --font-2: 'Allerta Stencil', sans-serif;
    --font-3: 'Quicksand', sans-serif;
}

header{
    margin-bottom: 1rem;
    background-color: var(--cor1);
    color: #FFF;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    padding: 10px 20px;
}

header h1 {
    font-family: var(--font-titulo);
    font-size: 3.5em;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

footer {
    /* display: flex; */
    /* flex-direction: row; */
    margin-top: 2rem;
    background-color: var(--cor1);
    color: #FFF;
    font-family: var(--font-padrao2);
    font-size: 0.8em;
    padding: 5px 20px;
}
